NODE_ENV="development"
HOST="localhost"
PORT=1234
CACHE_QUERIES=false

PGHOST="localhost"
PGPORT=5432
PGUSER="postgres"
PGPASSWORD="postgres"
PGDATABASE="giantessparty"

REDISHOST="localhost"
REDISPORT=6379

IMAGE_CDN_URL=""
CLOUDINARY_URL=""

