@import "~bulma/sass/utilities/initial-variables";

// Our color pallet.
$red: #C31D41;
$purple: #251458;
$light-purple: #39298C;
$blue: #25128F;
$black: #0C0C0D;
$white: #fff;

// Bulma Overides.
$primary: $red;
$body-background-color: $black;
$text: $white;
$navbar-background-color: $red;
$navbar-item-color: $white;
$navbar-item-hover-color: $red;
$navbar-item-active-color: $blue;
$radius: 0;
$radius-small: 0;
